<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>비밀번호 변경</title>
    <style>
        .custom-code {
            background-color: #d3d3d3;
            padding: 5px;
            border-radius: 3px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <p>안녕하세요. 맞춤형식이설계 공공플랫폼 입니다.</p>
    <p>귀하의 비밀번호가 다음으로 변경되었습니다:</p>
    <p><span class="custom-code" th:text="${newPassword}">[newPassword]</span></p>
	<p>이 비밀번호를 사용하여 로그인하세요.</p>
	<p>감사합니다.</p>
</body>
</html>